.container
  .home_header
    - if current_user && current_user.id == @user.id
      = link_to user_path(id: @user.id) do
        %p â†
    - else
      = link_to account_path(id: @user.id) do
        %p â†
  = render 'commons/posts'
