@import './variables';

.btn-primary {
    background-color: $primary-color;
    border: none;
    width: 100%;
    text-align: center;
    color: white;
    padding: 16px 0;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 10px;
    }

.login_btn{
    background-color: #2F80ED;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    margin-top: 2px;
    padding: 3px 6px;
    padding-top: 8px;
}