@import './variables';

.btn-primary {
    background-color: $primary-color;
    border: none;
    width: 100%;
    text-align: center;
    color: white;
    padding: 16px 0;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 10px;
    }

.login_btn{
    background-color: #2F80ED;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    margin-top: 2px;
    padding: 3px 6px;
    padding-top: 8px;
}

.buttons{
    position: relative;
}

.like-button{
    position: absolute;
    right: 10px;
    top: 10px;
}

.view-btn{
    position: absolute;
    top: -5px;
    background-color: #2F80ED;
    color: white;
    font-weight: bold;
    padding: 3px 12px;
    border-radius: 3px;
}

.comment-text-area{
    margin: 0 auto;
    z-index: 10;
    margin-top: 10px;
} 

.favorite-btn{
    position: absolute;
    width: 7vw;
    height: 7vw;
    right: 0px;
    top: -1px;
}

.share-btn{
    position: absolute;
    top:20px;
    right:15px;
    font-weight: bold;
    
    a{
        color: #2F80ED;
    }
}