.comment{
    
    &_addBtn{
    margin: 0 auto;
    z-index: 10;
    }

    &s{
        margin-bottom: 50px;
        background-color: #EEEEEE;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 1px;
        margin-top: 60px;
        border-radius: 5px;
    }

    &_container{
        display: flex;
        margin-bottom: 20px;
        
    }

    &_text{
        margin-left: 15px;
        line-height: 38px;
    }

    &_avatar{
        img{
            border-radius: 500px;
            width: 10vw;
            height: 10vw;
        }
    }

    &_form{
        margin-bottom: 10px;
        padding: 0px;
        height: 100px;
        border: 1px solid #BBBBBB;
        padding-left: 5px;
        border-radius: 3px;
    }

}


