@import './variables'; 

input, select {
    &.text {
        width: 100%;
        margin: 8px 0px;
        padding: 16px 24px;
        border: none;
        border-bottom: 1px dotted $text-base-color;
        height: 30px;
    }

    &#post_content{
        margin-bottom: 30px;
    }

    &#post_picture{
        display: none;
    }

    &#profile_avatar{
        display: none;
    }

    &#profile_introduction.text{
        text-align: center;
    }

    &#profile_name.text{
        text-align: center;
    }

}

    label {
        font-size: 15px;
        padding: 4px;

    }

    .label{
        &_picture{
            border: 1px solid #EBEBEB;
        }
    }

    textarea{
        width: 100%;
        margin: 8px 0px;
        padding: 8px 8px;
        min-height: 50px;
        resize: vertical;
        border: none;
        border-bottom: 1px solid $text-base-color;
    }

    .field{
        margin-bottom: 20px;
    }