/* home#index */

.home{

    &_back{
        color:black;
        font-size: 1.5em;
    }

    &_header{
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        height: 24px;
        margin-bottom: 30px;
    
        i{
            font-size: 36px;
            margin-top: -5px;
        }

        p{
            margin-top: -5px;
        }
    }

    &_content{
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
        
        .picture{
            width: 90vw;
            height: 90vw;
            object-fit: cover;
            margin-bottom: 15px;
            margin-top: 15px;
        }

    }
}

.buttons{
    display: block;
    display: flex;
    a{
        margin-right: 20px;
        margin-left: 5px;
        width: 8%;
    }
}
