/* home#index */

.home{
    &_header{
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        height: 24px;
    
        i{
            font-size: 36px;
            margin-top: -5px;
        }

        p{
            margin-top: -5px;
            color:black;
        }
    }
}