.post_new{

    &Header{
        display: flex;
        justify-content: space-between;
    }


    &Input{
        width: 100%;
        margin-top: 30px;
        border: none;
        border-bottom: 1px solid $text-base-color;
        margin-bottom: 100px;
        font-size: 18px;
    }

    &Submit{
        border: none;
    }

    &_userAvatar{
        height: $avatar-size;
        width: $avatar-size;
    }

    }