@import 'variables';

.post{
    position: relative;
    margin-bottom: 50px;
}

.post{

    &_header{
        display: flex;
        justify-content: space-between;
    }


    &_input{
        width: 100%;
        margin-top: 30px;
        border: none;
        border-bottom: 1px dotted $text-base-color;
        margin-bottom: 100px;
        font-size: 18px;
    }

    &_submit{
        border: none;
        background-color: white;
        font-size: 16px;
        color: #2F80ED;
        font-weight: bold;
    }

    &_content{
        text-align: left;
        margin-top: 10px;
    }

    &_comments{
        margin-top: 5px;
    }

    &_comment{
        text-align: left;
        display: flex;
        font-size: 13px;

        &_username{
            font-weight: bold;
        }

        &_text{
            margin-left: 8px;
        }
    }


    }