/* user#show */

$avatar-size: 80px;

.profile{
    
    &_header{
        position: relative;
    }

    &_username{
        text-align: center;
        font-weight: bold;
    }

    &_back{
        position: absolute;
        color:black;
        font-size: 1.5em;
        top:-6px;
    }

    &_content{
        text-align: center;
        img{
            margin-top: 30px;
            height: $avatar-size;
            width: $avatar-size;
        }
    }

    &_detail{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;

        .block{
            width: 33%;
        }

    }

    &_pictures{
        margin-top: 30px;
    }

    &_picture{
        width: 29vw;
        height: 29vw;
        object-fit: cover;
    }

    &_name{
        margin-top: 10px;
        font-weight: bold;
    }


    &_introduction{
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 0.95em;
    }

    &_avatar{
        border-radius: 100px;
    }

    &_edit{
        background-color: #2F80ED;
        color: white;
        font-weight: bold;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 2px;
    }

}
